head {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
h1 {
	text-align: center;
  	font-family: 'Fjalla One', sans-serif;
 	font-weight: 100;
  	font-size:  48px;
  	color: gray;
}
h3 {
	color: gray;
  	font-family: 'Roboto', sans-serif;
}
.bullets {
  font-family: 'Roboto', sans-serif;
  margin-top: 1%;
  display: inline-block;
  float: left;
  color: gray;
  text-align: center;
  margin-left: 69px;
  font-size: 20px;
}
.head{
	font-family: 'Roboto', sans-serif;
	color: gray;
}