head {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
h1 {
	text-align: center;
  	font-family: 'Fjalla One', sans-serif;
 	font-weight: 100;
  	font-size:  48px;
  	color: gray;
}
h3 {
	color: gray;
  	font-family: 'Roboto', sans-serif;
}
.heading{
	font-family: 'Roboto', sans-serif;
	color: gray;
	font-size: 25px;
	padding-right: 20%;
}
.bullets{
	color: gray;
	font-family: 'Roboto', sans-serif;
	padding-right: 70px;
	font-size: 17px;
}
