h2 {
	text-align: center;
	font-family: Gotham;
	font-weight: 350;
	font-size: 18px;
	margin-bottom: 40px;
  color: #8ee5ee;
}
body {
	padding: 24px
}
head {
	font-family:'Gotham', sans-serif;
	text-align: center;
}
h1 {
	font-family:'Gotham', sans-serif;
	text-align: center;
}
div {
	font-family:'verdana';
	padding-top: 10px;
	text-align: 'center';
  	padding: 16px;
}
h3 {
  padding-left: 10%;
  padding-right: 10%;
  color: gray;
}