body {
	padding: 24px
}
head {
	font-family:'Futura', sans-serif;
	text-align: center;
}
h1 {
	font-family:'Futura', sans-serif;
	text-align: center;
}
div {
	font-family:'Futura';
	padding-top: 10px;
	text-align: 'center';
}